body {
  font-family: 'Oswald', sans-serif;
  background-image: url('/src/images/background_black.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  height: 100vh; 
  margin: 0; 
}